.jobs {
  background: #f1f3f6;
  padding: 40px 40px;
  display:flex;
  flex-wrap:wrap;
  /* gap:30px; */
  height: 90%;
  overflow-y:scroll;
  padding-bottom:20px;
}

.jobs .card {
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.4);
  border: 2px solid var(--light-green);
  overflow: overlay;
  margin: 0 20px;
  &::-webkit-scrollbar {
    display: none;
  }

}

.jobs .card p:first-child {
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--dark-green);
}

.jobs .card p:nth-child(2) {
  font-size: 1.3rem;
  color: gray;
}

.jobs .card p:last-child {
  font-size: 1rem;
  color: gray;
}

.single_job_card .details-button {
  display:flex;
  justify-content:center;
  text-decoration:none;
  background-color: #e3f7f6;
  border: 1px solid var(--light-green);
  width: 80%;
  text-align:center;
  border-radius:20px;
  padding:7px;
  margin :5px 20px 30px;
  transition: 0.2s;
}

.single_job_card .details-button:hover  {
  background-color: var(--light-green);
  cursor:pointer;
}

.jobs .details-button a{
  text-decoration:none;
  font-size:1rem;
  color: var(--dark-green);
}
.jobs .details-button:hover a{
  color:white;
}

.jobDetail {
  background: #f1f3f6;
  padding: 0 20px;
  height: 100%;
}

.jobDetail .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.jobDetail .container .banner {
  width: 100%;
  min-height: 767px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.jobDetail .container .banner p {
  font-weight: bold;
  color: #272828;
  font-size:1.25rem;
}

.jobDetail .container .banner p span {
  color: #18191c;
  font-weight: 400;
}

.jobDetail .container .banner a {
  color: var(--dark-green);
  font-size: 20px;
  font-weight: 400;
  border: 2px solid var(--light-green);
  padding: 12px 30px;
  text-decoration: none;
  margin-top: 10px;
  width: fit-content;
  border-radius:20px;
  transition: 0.2s;
}

.jobDetail .container .banner a:hover{
  background-color : var(--light-green);
  color:white;
}

@media (max-width: 1520px) {
  .jobDetail .container {
    min-width: 100%;
  }
}