.jobs {
  background: #f1f3f6;
  padding: 40px 40px;
  display:flex;
  flex-wrap:wrap;
  gap:30px;
  height:80%;
  overflow:scroll;
  padding-bottom:20px;
}

.jobs .card {
  padding:10px;
  border-radius: 20px;
  background-color: rgb(205, 203, 209);
  width:20%;
  box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.4);
}

.jobs .card p:first-child {
  font-weight: bold;
  font-size: 1.6rem;
}

.jobs .card p:nth-child(2) {
  font-size: 1.3rem;
  color: gray;
}

.jobs .card p:last-child {
  font-size: 1rem;
  color: gray;
}

.jobs .card .details-button {
  text-decoration:none;
  background-color:rgb(14, 147, 241);
  width:80%;
  margin-left:8%;
  text-align:center;
  border-radius:20px;
  padding:7px;
  margin-top:7%;
}

.jobs .card .details-button a{
  text-decoration:none;
  font-size:1rem;
  color:white;
}
.jobs .card .details-button:hover{
  background-color:rgba(14, 146, 241, 0.795);
}


/* @media (max-width: 1520px) {
  .jobs{
    min-width: 100%;
  }
} */

@media (max-width: 1060px) {
  .jobs .card {
    width: 250px;
  }
}

@media (max-width: 795px) {
  .jobs  .card {
    width: 80%;
  }
  .jobs{
    justify-content:center;
  }
}

.jobDetail {
  background: #f1f3f6;
  padding: 50px 20px;
}

.jobDetail .container {
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobDetail .container .banner {
  width: 100%;
  min-height: 767px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.jobDetail .container .banner p {
  font-weight: bold;
  color: #272828;
  font-size:1.25rem;
}

.jobDetail .container .banner p span {
  color: #18191c;
  font-weight: 400;
}

.jobDetail .container .banner a {
  background-color: #04AA6D;
  color: rgb(233, 249, 255);
  font-size: 20px;
  font-weight: 400;
  border: none;
  padding: 12px 30px;
  text-decoration: none;
  margin-top: 10px;
  width: fit-content;
  border-radius:20px;
}

.jobDetail .container .banner a:hover{
  background-color:#04aa6dcb;
}

@media (max-width: 1520px) {
  .jobDetail .container {
    min-width: 100%;
  }
}