*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.register-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--white);
}

.register-container{
    width: 70%;
    height: 80vh;
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 12px 17px 24px -3px rgba(0,0,0,0.75);
}

.option-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    width: 100%;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: none;
    border: none;
    height: 100%;
    background-color: var(--grey-light);
    width: 33.33%;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.option-color{
    background-color: var(--light-green);
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: var(--white);
}

.form-container form{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 80%;
}

.form-container form input {
    height: 20px;
    width: 100%;
    border: none;
    outline:none;
    background: none;
    border-bottom: 2px solid var(--grey-dark);
    color: var(--grey-dark);
    font-size: 1.25rem;
    padding: 5px;
}

.form-container form button{
    height: 50px;
    width: 30%;
    border: none;
    background: none;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--light-green);
    color: var(--white);
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

.login-option{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: var(--grey-light);
    color: var(--white);
    font-size: 1.25rem;
}

.login-option span{
    margin-right: 5px;
}

.login-link{
    text-decoration: none;
    color: var(--light-green);
    font-weight: 600;
}

#pfp-upload{
    display: none;
}

.PFP-upload{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--light-green);
    color: var(--grey-dark);
    font-size: 1.25rem;
    cursor: pointer;    
}

.registration_pfp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    gap: 20px;
}

.registration_pfp .stu_pfp{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}