.update-profile-student {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 20px;
}

.update-profile-student h2{
    color : var(--grey-dark);
    margin-bottom: 20px;
    font-weight: bold;
}

.update-profile-student hr {
    width: 100%;
    margin-bottom: 20px;
}

.update-profile-student button{
    font-weight: bold;
}

.cv-upload-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.cv-upload-form input{
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.cv-upload-form button{
    width: 200px;
    height: 50px;
    background-color: var(--grey-dark);
    color: var(--white);
    border-radius: 30px;
    font-size: 1.25rem;
}

.update-password{
    display: flex;
    flex-direction: column;
}

.update-password form{
    display: flex;
    flex-direction: column;
}
.update-password form input{
    background: none;
    border: none;
    border-bottom: 2px solid var(--grey-dark);
    outline: none;
    font-size: 1.25rem;
    margin-bottom: 10px;
    width: 70%;
}

.update-password-btn{
    color: var(--white);
    background-color: var(--grey-dark);
    font-size: 1.25rem;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-weight: bold;
}

#upload-cv{
    display: none;
}

.upload-cv{
    cursor: pointer;
    background-color: #76ABAE;
    color: var(--white);
    font-size: 1.25rem;
    width: 200px;
    margin: 10px 5px;
    border-radius: 10px;
    padding: 10px;
}

.cv-image{
    height: 50px;
    width: 50px;
    border: 1px solid black;

}
.upload_cv_container{
    display: flex;
    align-items: center;
}